.header,
.header__menu,
.header__link-list,
.address {
    display: flex;
}

.header {
    align-items: center;
    padding-top: 92px;
    padding-bottom: 92px;
    font-family: Raleway, sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.header__menu {
    align-items: center;
}

.header__link-list {
    max-width: 392px;
    column-gap: 27px;
    margin: 0 40px 0 26px;
}

.header__links-list-item {
    border-bottom: 1px solid black;
    list-style: circle;
}

.header__link {
    white-space: nowrap;
}

.header__logo {
    width: 148px;
    height: 108px;
    margin-right: auto;
}

.header__address {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-right: 30px;
    max-width: 237px;
}

.header__address-phone,
.header__address-email,
.header__address-location {
    line-height: 1.3;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
}

.cover {
    position: relative;
}

.overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
    display: flex;
    flex-direction: column;
    margin-top: 165px;
    margin-left: 26px;
    font-size: 100px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: normal;
}

.cover__title-word-start,
.cover__title-word-center,
.cover__title-word-end {
    display: flex;
}

.aligned__text {
    letter-spacing: 28px;
    padding-right: 34px;
}

.cover__title-word-center {
    justify-content: center;
    padding-right: 82px;
    letter-spacing: 6px;
    line-height: 137%;
}

.aligned-text_center {
    letter-spacing: 34px;
    margin-right: 18px;
}

.cover__title-word-end {
    justify-content: end;
    line-height: 102%;
    letter-spacing: 28px;
}

.aligned-text_right {
    margin-left: 33px;
    margin-right: 3px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 136px;
    margin-left: 55px;
    margin-right: 27px;
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    font-size: 22px;
    color: #fff;
    word-spacing: 23px;
}

.bet-button {
    border: none;
    background-color: transparent;
    outline: 1px solid #fff;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    padding: 10px 27px;
    word-spacing: 4px;
    cursor: pointer;
}

.lots__heading {
    margin-top: 168px;
    margin-left: 40px;
    letter-spacing: 0;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
    gap: 25px;
}

.card__item {
    flex-basis: 334px;
    min-height: 563px;
}

.card-link {
    display: flex;
    position: relative;
    min-height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    padding: 50px 28px 46px 40px;
}

.card_type_film {
    background: url(../images/film.jpg);
}

.card_type_book {
    background: url(../images/book.jpg);
}

.card_type_picture {
    background: url(../images/picture.jpg);
}

.card_type_film,
.card_type_book,
.card_type_picture {
    background-size: cover;
    background-repeat: no-repeat;
}

.card__title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-decoration: underline;
    z-index: 11;
}

.card__text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    z-index: 11;
}

.lots__look-more-link {
    margin-top: 30px;
    margin-left: 40px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.about {
    margin-top: 178px;
}

.about__column {
    display: grid;
    grid-template-columns: 240px 695px;
    align-items: start;
    gap: 120px;
}

.about__logo {
    width: 240px;
    height: 240px;
    margin-left: 47px;
    margin-top: 2px;
}

.about__title {
    margin-top: 97px;
    letter-spacing: 0;
}

.about__text {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
}

.first-text {
    margin-top: 99px;
}

.second-text {
    margin-top: 25px;
}

.footer {
    padding-top: 181px;
    padding-bottom: 85px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.footer__address {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    max-width: 241px;
    line-height: 1.5;
    padding-left: 27px;
}

.footer__link-list {
    padding-left: 31px;
    text-align: center;
}

.footer__social-link-list {
    display: flex;
    gap: 48px;
    margin-right: 26px;
}